.modal {
  position: fixed;
  z-index: 1024;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: all 250ms ease-out;

  &__dialog {
    background-color: white;
    margin: 0.9375rem;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 6px;
    min-width: 500px;
    padding: 0.9375rem;
    position: relative;
    z-index: 1024;

    &__close {
      position: absolute;
      right: 0.9375rem;
      top: 0.9375rem;
      color: $primary;
      font-size: 1.5rem;
      cursor: pointer;
    }

    @include shadow(3);
  }

  &__message {
    font-size: 1.125rem;

    &--error {
      color: $primary;
    }
  }
}

@media (max-width: 767.98px) {
  .modal {
    width: 100%;
    left: 0;
    &__dialog {
      width: 100%;
      min-width: 100%;
    }
  }
}
