// Font Weights
$light-weight: 400;
$normal-weight: 400;
$bold-weight: 700;
$black-weight: 900;

// Colors
$primary: #ef4036;
$success: #4caf50;
$light: #fff;
$light-100: #edf2f4;
$light-200: #d2d2d2;
$black: #232b2b;
$love: #ff6b81;
