.layout {
  &__container {
    max-width: 1140px;
    padding: 100px 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

@media (max-width: 1199.98px) {
  .layout {
    &__container {
      padding: 50px 15px;
    }
  }
}
